<center>

## Task: Extract data from a website using webscraping and request APIs

</center>

## Objectives

After completing this lab you will be able to:

 - Use Webscraping to extract required information from a website.
 - Use Pandas to load and process the tabular data as a dataframe.
 - Use Numpy to manipulate the information contatined in the dataframe.
 - Load the updated dataframe to CSV file.

---

# Setup

For this lab, we will be using the following libraries:

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

In [1]:
#Install required packages
!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in /home/nexus6/.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.1 in /home/nexus6/.local/lib/python3.8/site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in /home/nexus6/.local/lib/python3.8/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Requirement already satisfied: lxml in /home/nexus6/.local/lib/python3.8/site-packages (5.4.0)

---

# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.

In [3]:
URL="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [4]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe:
page_data = pd.read_html(URL)

page_data = page_data[2]

# Replace the column headers with column numbers:
page_data.columns = range(page_data.shape[1])

# Retain only the columns with index 0 and 2 (the name of country and value of GDP quoted by IMF):

page_data.iloc[1:,0:2]

# Retain only the Rows with index 1 to 10, indicating the top 10 economies of the world and the name of that country:

page_data = page_data.iloc[1:11,0:2]

# Assign column names as "Country" and "GDP (Million USD)":

page_data.columns = ['Country','GDP']

page_data

           Country       GDP
1    United States  30507217
2            China  19231705
3          Germany   4744804
4            India   4187017
5            Japan   4186431
6   United Kingdom   3839180
7           France   3211292
8            Italy   2422855
9           Canada   2225341
10          Brazil   2125958

<details>
    <summary>Click here for Solution</summary>

```python
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
```

</details>

### Exercise 2
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the `round()` method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to `GDP B.`.

In [5]:
import numpy as np

# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.

page_data[['GDP']] = page_data[['GDP']].astype('int64')

# Convert the GDP value in Million USD to Billion USD

page_data['GDP'] = page_data['GDP']/1000

# Use numpy.round() method to round the value to 2 decimal places.

page_data['GDP'] = np.round(page_data['GDP'],2)

# Rename the column header from 'GDP (Million USD)' to 'GDP B.'
page_data = page_data.rename( columns = {'GDP':'GDP B.'} )

page_data

           Country    GDP B.
1    United States  30507.22
2            China  19231.71
3          Germany   4744.80
4            India   4187.02
5            Japan   4186.43
6   United Kingdom   3839.18
7           France   3211.29
8            Italy   2422.86
9           Canada   2225.34
10          Brazil   2125.96

### Exercise 3

Load the DataFrame to the CSV file named "Largest_economies.csv"

In [7]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"

page_data.to_csv('./Largest_economies.csv', index=False)